---
import Container  from "website/components/container.astro";
import Layout from "../../layouts/Layout.astro";

import {getUser, supabase} from '../../utils/auth';
const user = await getUser(Astro.request) || undefined;

export function getStaticPaths() {
  return [
    {params: {competition: '1'}},
    {params: {competition: '2'}},
    {params: {competition: '3'}},
  ];
}

const { competition } = Astro.params;
---

<Layout title="Competition" user={user}>
  <Container>
    {
      competition? (
        <div>
          <h1>{competition}</h1>
        </div>
      ): (
        <div>
          <h1>Competition not found</h1>
        </div>
      )
    }
  </Container>
</Layout>
