---
import Layout from "../layouts/Layout.astro";
import Container from "website/components/container.astro";
import Sectionhead from "website/components/sectionhead.astro";
import { Image } from "@astrojs/image/components";
import TeamImg1 from "website/assets/gillian.jpg";
import TeamImg2 from "website/assets/person_placeholder.jpg";
// import {getUser} from '../utils/auth';
// const user = await getUser(Astro.request) || undefined;
const user = undefined;

const team = [
  {
    name: "Gillian Goud",
    title: "Founder",
    avatar: {
      src: TeamImg1,
      width: 460,
      height: 614,
    },
  },
  {
    name: "Empty spot",
    title: "Developer",
    avatar: {
      src: TeamImg2,
      width: 640,
      height: 387,
    },
  },
  {
    name: "Empty spot",
    title: "Race manager",
    avatar: {
      src: TeamImg2,
      width: 640,
      height: 387,
    },
  },
];
---

<Layout title="About" user={user}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small, incomplete passionate team.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Delivering Higher experiences in sport.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Our team is special, in the sense that it's not complete. We are looking to expand the team with people who are passionate about sport and technology. If you are interested in joining us, please contact us.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        team.map((item) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Image
                {...item.avatar}
                format="avif"
                alt="Team"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800"> {item.name}</h2>
              <h3 class="text-sm text-slate-500"> {item.title}</h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
