---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Export data right back into your event management system",
    description:
      "Is your system compatible with the FinishLynx file format? If so, you can export your data right back into your system.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% Web based, platform agnostic",
    description:
      "ShorttrackApp is built for the web and allows you to work with very old and cheap hardware if nessessary. It's also built to work on any device, from a phone to a desktop computer.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Online & Offline",
    description:
      "Want to run your event where there's limited internet access? No problem! Want to run some components off of a different network? No problem!",
    icon: "bx:bxs-data",
  },
  {
    title: "Broad Integration",
    description:
      "Mylaps AMB, MyLaps ProChip, MyLaps X2, Prochip, RaceResult, and Vostok decoders are supported. FinishLynx and Zone4 cameras are supported.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Historical Data",
    description:
      "ShorttrackApp is built to be a long term solution for your skaters. We store all of your data for you, so you can always go back and see how they have progressed.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "ShorttrackApp is an open source project powered by multiple contributors making hundreds of individual contributions.",
    icon: "bx:bxs-user",
  },
  {
    title: "Multilingual",
    description:
      "Built witht the web, ShorttrackApp is available in multiple languages. We're always looking for more help translating the app into new languages.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to superpower your event
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    ShorttrackApp allows you to build on your current event management system, reusing those important sport rules.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
